/************************
HEADER
************************/

body {
	text-align: center;
	margin: 1%;
	padding: 10%;
	font-family: 'Dosis', sans-serif;
}

/************************
TEXT BOX AND BUTTON
************************/

#userGuess, #newGame {
	height: 36px;
	width: 58px;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

#newGame {
	font-size: 14px;
	width: 88px;
}

button {
	margin: 8px;
	display: inline-block;
	height: 44px;
	width: 86px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 1px #888;
	border-radius: 10px;
	border-style: solid;
	border-color: #000;
}

/************************
FEEDBACK
************************/

.feedback {
	border: 2px solid black;
}

span {
	font-size: 32px;
}

table {
	width: 100%;
}

td, tbody {
	padding: 15px;
	height: 30px;
	font-size: 20px;
	empty-cells: show;
}

/************************
COLORS
************************/

body {
	background-color: #4b6c56;
	color: #c0bea7;
	text-shadow: 2px 2px 2px #444;
}

h1, h3 {
	color: #c0bea7;

}

p {
	color: #4aa7b3;
	text-shadow: 1px 1px 1px #222;
}

button {
	background-color: #4aa7b3;
	color: #222;
}

button:hover {
	background-color: #368B96;
}
